@media (min-width: 576px) {
  .illustration {
    width: 0%;
  }

  .step-card {
    min-width: 300px;
  }
}

@media (min-width: 768px) {
  .hero-title {
    max-width: 75%;
    font-size: 2.25rem;
  }
  
  .hero-description {
    max-width: 80%;
    font-size: 1.25rem;
  }

  .prediction-value {
    font-size: 2.5rem;
  }
  
  .illustration {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .nav-link {
    padding: 0.5rem 1rem !important;
    margin: 0 0.25rem;
  }

  .hero-title {
    font-size: 2.5rem;
  }
  
  .hero-description {
    font-size: 1.5rem;
  }

  .prediction-value {
    font-size: 2.65rem;
  }
}

@media (min-width: 1200px) {
  .step-card {
    min-width: 500px;
  }
}

@media (min-width: 1400px) {
  .illustration {
    width: 85%;
  }
}